main#menu {
    display: block;
    padding: 1rem;
    box-sizing: border-box;
    width: calc(100dvw - 2rem);
}

main#menu h1,
main#menu h3 {
    text-align: center;
}

main#menu h3 {
    color: var(--accent-3);
}

main#menu h2 {
    color: var(--accent-1);
}

main#menu h1 {
    font-family: 'Satisfy', cursive;
    font-size: 56px;
    color: var(--accent-2);
}

main#menu .dishes {
    display: grid;
    width: 98dvw;
    grid-template-columns: repeat(4, 1fr);
    overflow-x: auto;
    gap: 1rem;
    padding-bottom: .5rem;
}

main#menu .dish {
    display: grid;
    gap: .5rem;
    place-items: center;
    grid-auto-flow: row;
    cursor: pointer;
    transition: all 300ms ease;
    padding: 1rem;
    border-radius: 10px;
    text-decoration: none;
}

main#menu .dish:hover {
    background-color: #8080801f;
}
main#menu .dish:hover img {
    border: 5px solid var(--accent-2);
}

main#menu .dish .title {
    color: var(--accent-2);
    font-weight: 600;
}

main#menu .dish img {
    aspect-ratio: 1;
    height: 20vh;
    border: 2px solid var(--accent-2);
    border-radius: 50%;
    box-sizing: border-box;
    transition: all 300ms ease;
    object-fit: cover;
}

.dish-wrapper {
    display: grid;
    grid-template-rows: auto 0fr;
    padding-bottom: calc(1.5rem + 18px);
    gap: .5rem;
}

.dish-wrapper > button,
.dish-wrapper {
    transition: padding-bottom 300ms ease, grid-template-rows 300ms ease, padding 200ms ease, margin 200ms ease, color 200ms ease, background-color 200ms ease;
    overflow: hidden;
}

.dish-wrapper > button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.dish-wrapper:hover {
    grid-template-rows: auto 1fr;
    padding-bottom: 0;
}

.dish-wrapper:not(:hover) > button {
    padding: 0;
    border: 1px solid transparent;
}

@media (orientation:portrait) {
    main#menu {
        height: 75dvh;
        width: 100%;
        overflow-y: auto;
        overflow-x: hidden;
    }
    main#menu .dishes {
        width: 100%;
        grid-template-columns: repeat(2, 1fr);
    }
    main#menu .dish img,
    main#dish .title-info img {
        height: auto!important;
        width: 100%;
    }
    .dish-wrapper {
        padding-bottom: 0;
        gap: 0;
        grid-template-rows: auto 1fr;
        align-items: end;
    }
    .dish-wrapper:not(:hover) > button {
        padding: .5rem .75rem;
        border: 2px solid var(--primary-contrast);
    }
    main#menu .dish .title {
        text-align: center;
    }
    .add-to-cart span {
        font-size: 17px;
    }
}