{% extends "inventory/layout.html" %}
{% load static %}
{% load mathfilters %}

{% block body %}
    <div class="digital">
        {% if recipe_obj_type == "dish" %}
            <h1>{{recipe_obj.dish.first.title}}</h1>
        {% else %}
            <h1>{{recipe_obj.component.first.title}}</h1>
        {% endif %}
        <h2>Yields:</h2>
        {% if recipe_obj_type == "dish" %}
            <span>{{recipe_obj.original_yield}} portion</span>
        {% else %}
            <span>{{recipe_obj.original_yield}} {{recipe_obj.component.first.unit_of_measurement|capfirst}}</span>
        {% endif %}
        <h2>Ingredients:</h2>
        {{ingredients_ul|safe}}
        <h2>Method:</h2>
        {{recipe_md|safe}}
    </div>
    
    <div class="print">
        <div class="header">
            {% if recipe_obj_type == "dish" %}
                <h1>{{recipe_obj.dish.first.title}}</h1>
            {% else %}
                <h1>{{recipe_obj.component.first.title}}</h1>
            {% endif %}
            <span>Yields: {{recipe_obj.original_yield}} {% if recipe_obj.component.first %}{{recipe_obj.component.first.unit_of_measurement|capfirst}}{% else %}portion{% endif %}</span>
        </div>
        <div id="ingredients">
            <h2>Ingredients:</h2>
            {{ingredients_ul|safe}}
        </div>
        <div>
            {{recipe_md|safe}}
        </div>
    </div>
    {% if user.is_superuser %}
    <a href="{% url 'recipes' %}?edit={% if recipe_obj_type == 'dish' %}d-{{recipe_obj.dish.first.id}}{% else %}c-{{recipe_obj.component.first.id}}{% endif %}" class="icon button" id="edit"><span class="material-symbols-outlined">edit</span></a>
    {% endif %}
{% endblock %}