{% extends "pos_server/layout.html" %}
{% load static %}

{% block body %}
{% csrf_token %}
<h1>Select a business day</h1>
{% for day in dates %}
    <button data-day="{{day}}" class="business-day">{{day}}</button>
{% endfor %}
<dialog class="full">
    <div>
        <nav>
            <h1 id="title"></h1>
            <button id="close" class="icon"><span class="material-symbols-outlined">close</span></button>
        </nav>
        <iframe></iframe>
    </div>
</dialog>

<script>
    const buttons = document.querySelectorAll(".business-day");
    const dialog = document.querySelector("dialog")
    const frame = dialog.querySelector("iframe");
    buttons.forEach(button => {
        button.addEventListener("click", e => {
            frame.src = `{% url 'day_stats' %}?date=${e.currentTarget.dataset.day.replaceAll(" ", "%20")}`
            // frame.src = frame.src.replace("?date=", `?date=${e.currentTarget.dataset.day.replaceAll(" ", "%20")}`) // Crazy i know
            dialog.showModal()
            document.querySelector("#title").textContent = e.currentTarget.dataset.day
        })
    })
    document.querySelector("#close").addEventListener("click", () => {
        dialog.close()
    })
</script>
{% endblock %}