{% extends "pos_server/layout.html" %}
{% load static %}
{% load custom_filters %}
{% load tz %}

{% block body %}
{% csrf_token %}
{% for order in orders %}
    {% if order.dishes|has_kitchen_item %}
        <div data-orderId="{{order.order_id}}" class="order">
            <div class="summary">
                <h2>Order #{{order.order_id}}</h2>
                <div class="name-time">
                    <span>
                        {% if order.table %}
                            Name: {{order.table}}
                        {% else %}
                            No name
                        {% endif %}
                    </span>
                    <span data-timestamp="{{order.timestamp}}" class="timestamp">
                        Prep time: <span>{{order.timestamp}}</span>
                    </span>
                </div>
            </div>
            <div>
                <ul>
                    {% for item in order.dishes %}
                        {% if item.station == "kitchen" %}
                            <li>{{item.quantity}} X {{item.name}}</li>
                        {% endif %}
                    {% endfor %}
                </ul>
                {% if order.special_instructions %}
                <h3>Special instructions:</h3>
                <p>{{order.special_instructions}}</p>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endfor %}
<dialog class="full" id="availability">
    <iframe style="height: 99%; width: 100%;" src="{% url 'component_availability' %}" frameborder="0"></iframe>
</dialog>

<script> const eventSource = new EventSource("{% url 'order_updates' %}"); </script>
<script type="module" src="{% static 'pos_server/kitchen-bar.js' %}"></script>

{% if portrait %}
<script>
    document.querySelector("body").classList.add("portrait");
</script>
{% endif %}
{% endblock %}