{% extends "pos_server/layout.html" %}
{% load static %}

{% block body %}
{% csrf_token %}
<div id="items-wrapper">
    {% for station, items in menu.items %}
    {% if station == "bar" %}
    <h1>Drinks and sweets</h1>
    {% elif station == "kitchen" %}
    <h1>Hot food</h1>
    {% elif station == "gng" %}
    <h1>Grab & Go</h1>
    {% endif %}
    <div id="items">
        {% for item in items %}
        <button 
            data-id="{{item.id}}" 
            class="dish tight" 
            {% if not item.in_stock and not item.force_in_stock %} disabled {% endif %}
        >
            <span class="dish-title">{{item.title}}</span>
            <div>
                <span class="price">${{item.price|floatformat:2}}</span>
                <span class="material-symbols-outlined">add_shopping_cart</span>
            </div>
        </button>
        {% endfor %}
    </div>
    {% endfor %}
</div>
<div id="cart-wrapper">
    <div id="cart">
        
    </div>
    <div id="total-button" class="hidden">
        Total: $<span></span><span id="discount-display"></span>
    </div>
    <button data-actionLink="{% url 'pos' %}" class="hidden" id="checkout-button">Tender order</button>
</div>
<dialog id="tender">
    <div>
        <nav>
            <h1>Finalize order</h1>
            <button class="icon"><span class="material-symbols-outlined">close</span></button>
        </nav>
        <div id="summary"></div>
        <div>
            <div id="tenders"></div>
            <div id="tender-total-div">
                <h2>Total: $<span id="tender-total"></span></h2>
                <button id="reset-partial-payments" class="icon"><span class="material-symbols-outlined">restart_alt</span></button>
            </div>
        </div>
        <input autocomplete="off" type="text" name="customer-name" placeholder="Customer name">
        <textarea type="text" name="special-instructions" placeholder='Special instructions E.g. "No onions"/"Extra cheese"'></textarea>
        <div id="here-to-go">
            <input type="radio" id="here-to-go1" name="here-to-go" checked value="here" />
            <label for="here-to-go1" class="here-to-go-label">For here</label>

            <input type="radio" id="here-to-go2" name="here-to-go" value="go" />
            <label for="here-to-go2" class="here-to-go-label">To-go</label>
        </div>
        <button data-actionLink="{% url 'pos' %}" id="cash-button">Cash</button>
        <button data-actionLink="{% url 'pos' %}" id="card-button">Card</button>
    </div>
</dialog>
<dialog id="cash-in">
    <form action="{% url 'pos' %}">
        <nav>
            <h1>Change</h1>
            <button type="button" class="icon"><span class="material-symbols-outlined">close</span></button>
        </nav>
        <h1 style="text-align: center;">How much money<br>did customer give?</h1>
        <input autocomplete="off" name="cash-provided" step="0.01" placeholder="$" type="number"/>
        <button>Accept cash</button>
    </form>   
</dialog>
<dialog id="cash-change">
    <nav>
        <h2>Transaction completed!</h2>
        <button class="icon"><span class="material-symbols-outlined">close</span></button>
    </nav>
    <h1>Change due: $<span id="change-to-give"></span></h1>
</dialog>
<dialog id="card-in">
    <nav>
        <h2>Pass the terminal to customer...</h2>
        <button class="icon"><span class="material-symbols-outlined">close</span></button>
    </nav>
</dialog>
<dialog id="card-done">
    <nav>
        <h2 id="transaction-status"></h2>
        <button class="icon"><span class="material-symbols-outlined">close</span></button>
    </nav>
</dialog>
<dialog id="authorize">
    <form>
        <input autocomplete="off" type="text" name="man-user" placeholder="Manager username">
        <input autocomplete="off" type="password" name="man-pass" placeholder="Manager password">
        <button type="submit">Authorize</button>
        <span style="color: var(--error-color); display: none;">Authorization failed</span>
    </form>
</dialog>
<dialog id="discounts">
    <form>
        <h2>Apply whole order discount</h2>
        <input autocomplete="off" min="1" max="100" type="number" name="discount-percentage" placeholder="%">
        <span style="text-align: center;">or</span>
        <input autocomplete="off" type="number" name="discount-amount" placeholder="$ amount">
        <button>Apply</button>
    </form>
</dialog>
<dialog class="full" id="card-scanner">
    <nav>
        <h2 id="transaction-status">Gift card</h2>
        <button class="icon"><span class="material-symbols-outlined">close</span></button>
    </nav>
    <div>
        <h2>Scan card</h2>
        <div id="barcode-scanner"></div>
        <select id="camera-select"></select>
        <h2>Enter manually</h2>
        <input type="text" maxlength="16" id="card-number-input">
        <h2 class="error" style="display: none;" id="gift-card-errors"></h2>
        <button id="card-number-lookup-button">Look up</button>
    </div>
</dialog>
<dialog class="full" id="gift-card-dialog">
    <nav>
        <h2 id="transaction-status">Gift card</h2>
        <button class="icon"><span class="material-symbols-outlined">close</span></button>
    </nav>
    <div>
        <img id="found-card-image" src="">
        <h2>Card #<span id="found-card-number"></span></h2>
        <h4>Available balance:</h4>
        <h1>$<span id="found-card-balance"></span></h1>
        <h2>Card actions:</h2>
        <div id="card-actions">
            <form id="card-charge-amount">
                <input type="number" min="0.01" step=".01" id="card-charge-amount-inp">
                <button id="card-charge-amount-button">Charge card</button>
            </form>
            <button id="card-charge-max">Charge max</button>
            <button id="card-reload">Reload card</button>
        </div>
    </div>
</dialog>
<dialog id="cash-drawer">
    <nav>
        <h2 id="transaction-status">Cash drawer</h2>
        <button class="icon"><span class="material-symbols-outlined">close</span></button>
    </nav>
    <form id="new-cash-drawer">
        <label for="fiveCent">¢5</label>
        <input placeholder="Quantity" type="number" id="fiveCent">
        <label for="tenCent">¢10</label>
        <input placeholder="Quantity" type="number" id="tenCent">
        <label for="quarters">¢25</label>
        <input placeholder="Quantity" type="number" id="quarters">
        <label for="oneDollar">$1</label>
        <input placeholder="Quantity" type="number" id="oneDollar">
        <label for="twoDollar">$2</label>
        <input placeholder="Quantity" type="number" id="twoDollar">
        <label for="fiveDollar">$5</label>
        <input placeholder="Quantity" type="number" id="fiveDollar">
        <label for="tenDollar">$10</label>
        <input placeholder="Quantity" type="number" id="tenDollar">
        <label for="twentyDollar">$20</label>
        <input placeholder="Quantity" type="number" id="twentyDollar">
        <label for="fiftyDollar">$50</label>
        <input placeholder="Quantity" type="number" id="fiftyDollar">
        <label for="hundredDollar">$100</label>
        <input placeholder="Quantity" type="number" id="hundredDollar">
        <button>Open drawer</button>
    </form>
    <form id="close-cash-drawer" style="display: none;">
        <label for="close-fiveCent">¢5</label>
        <input placeholder="Quantity" type="number" id="close-fiveCent">
        <label for="close-tenCent">¢10</label>
        <input placeholder="Quantity" type="number" id="close-tenCent">
        <label for="close-quarters">¢25</label>
        <input placeholder="Quantity" type="number" id="close-quarters">
        <label for="close-oneDollar">$1</label>
        <input placeholder="Quantity" type="number" id="close-oneDollar">
        <label for="close-twoDollar">$2</label>
        <input placeholder="Quantity" type="number" id="close-twoDollar">
        <label for="close-fiveDollar">$5</label>
        <input placeholder="Quantity" type="number" id="close-fiveDollar">
        <label for="close-tenDollar">$10</label>
        <input placeholder="Quantity" type="number" id="close-tenDollar">
        <label for="close-twentyDollar">$20</label>
        <input placeholder="Quantity" type="number" id="close-twentyDollar">
        <label for="close-fiftyDollar">$50</label>
        <input placeholder="Quantity" type="number" id="close-fiftyDollar">
        <label for="close-hundredDollar">$100</label>
        <input placeholder="Quantity" type="number" id="close-hundredDollar">
        <button>Close drawer</button>
    </form>
</dialog>
<dialog id="cash-drawer-result">
    <nav>
        <h2 id="transaction-status">Cash drawer</h2>
        <button class="icon"><span class="material-symbols-outlined">close</span></button>
    </nav>
    <h2>New money:</h2>
    <table>
        <tr>
            <td>¢5</td>
            <td id="result-fiveCent"></td>
        </tr>
        <tr>
            <td>¢10</td>
            <td id="result-tenCent"></td>
        </tr>
        <tr>
            <td>¢25</td>
            <td id="result-quarters"></td>
        </tr>
        <tr>
            <td>$1</td>
            <td id="result-oneDollar"></td>
        </tr>
        <tr>
            <td>$2</td>
            <td id="result-twoDollar"></td>
        </tr>
        <tr>
            <td>$5</td>
            <td id="result-fiveDollar"></td>
        </tr>
        <tr>
            <td>$10</td>
            <td id="result-tenDollar"></td>
        </tr>
        <tr>
            <td>$20</td>
            <td id="result-twentyDollar"></td>
        </tr>
        <tr>
            <td>$50</td>
            <td id="result-fiftyDollar"></td>
        </tr>
        <tr>
            <td>$100</td>
            <td id="result-hundredDollar"></td>
        </tr>
    </table>
    <div id="result-cash-drawer">
        <h2>Total:</h2>
        <span id="result-total"></span>
        <h2>Total profit:</h2>
        <span id="result-total-profit"></span>
    </div>
</dialog>
<script>
    const dishes = JSON.parse('{{json|safe}}');
    const invUpdatesLink = "{% url 'check_inventory' %}"
</script>
<script src="https://unpkg.com/quagga/dist/quagga.min.js"></script>
<script type="module" src="{% static 'pos_server/sounds.js' %}"></script>
<script type="module" src="{% static 'pos_server/pos-order.js' %}"></script>
<script type="module" src="{% static 'pos_server/authorizedDeviceCheck.js' %}"></script>
{% endblock %}