{% extends "pos_server/layout.html" %}
{% load static %}

{% block body %}
{% csrf_token %}
<div id="items-wrapper">
    <div id="items">
        {% for item in menu %}
            <button data-id="{{item.id}}" class="dish tight">
                <span class="dish-title">{{item.title}}</span>
                <div>
                    <span class="price">${{item.price|floatformat:0}}</span>
                    <span class="material-symbols-outlined">add_shopping_cart</span>
                </div>
            </button>
        {% endfor %}
    </div>
</div>
<div id="cart-wrapper">
    <div id="cart">
        
    </div>
    <div id="total-button" class="hidden">
        Total: $<span></span><span id="discount-display"></span>
    </div>
    <button data-actionLink="{% url 'pos' %}" class="hidden" id="checkout-button">Tender order</button>
</div>
<dialog id="tender">
    <div>
        <nav>
            <h1>Finalize order</h1>
            <button class="icon"><span class="material-symbols-outlined">close</span></button>
        </nav>
        <div id="summary"></div>
        <h2>Total: $<span id="tender-total"></span></h2>
        <input autocomplete="off" type="text" name="customer-name" placeholder="Customer name">
        <textarea type="text" name="special-instructions" placeholder='Special instructions E.g. "No onions"/"Extra cheese"'></textarea>
        <button data-actionLink="{% url 'pos' %}" id="cash-button">Cash</button>
        <button data-actionLink="{% url 'pos' %}" id="card-button">Card</button>
    </div>
</dialog>
<dialog id="cash-in">
    <form action="{% url 'pos' %}">
        <nav>
            <h1>Change</h1>
            <button type="button" class="icon"><span class="material-symbols-outlined">close</span></button>
        </nav>
        <h1 style="text-align: center;">How much money<br>did customer give?</h1>
        <input autocomplete="off" name="cash-provided" step="0.01" placeholder="$" type="number"/>
        <button>Accept cash</button>
    </form>   
</dialog>
<dialog id="cash-change">
    <nav>
        <h2>Transaction completed!</h2>
        <button class="icon"><span class="material-symbols-outlined">close</span></button>
    </nav>
    <h1>Change due: $<span id="change-to-give"></span></h1>
</dialog>
<dialog id="card-in">
    <nav>
        <h2>Pass the terminal to customer...</h2>
        <button class="icon"><span class="material-symbols-outlined">close</span></button>
    </nav>
</dialog>
<dialog id="card-done">
    <nav>
        <h2 id="transaction-status"></h2>
        <button class="icon"><span class="material-symbols-outlined">close</span></button>
    </nav>
</dialog>
<dialog id="authorize">
    <form>
        <input autocomplete="off" type="text" name="man-user" placeholder="Manager username">
        <input autocomplete="off" type="password" name="man-pass" placeholder="Manager password">
        <button type="submit">Authorize</button>
        <span style="color: var(--error-color); display: none;">Authorization failed</span>
    </form>
</dialog>
<dialog id="discounts">
    <form>
        <h2>Apply whole order discount</h2>
        <input autocomplete="off" min="1" max="100" type="number" name="discount-percentage" placeholder="%">
        <span style="text-align: center;">or</span>
        <input autocomplete="off" type="number" name="discount-amount" placeholder="$ amount">
        <button>Apply</button>
    </form>
</dialog>
<script>const dishes = JSON.parse('{{json|safe}}');</script>
<script type="module" src="{% static 'pos_server/pos-order.js' %}"></script>
{% endblock %}