{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'pos_server/layers.css' %}" rel="stylesheet">
    <link href="{% static 'pos_server/project-styles.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <title>HEUCC Restaurant</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 48
        }
        body.portrait {
            width: 100vh;
            height: 100vw;
        }
        :root {
            --primary-background: {{menu.background_color}};
            --accent-1: {{menu.accent_1}};
            --accent-2: {{menu.accent_2}};
            --accent-3: {{menu.accent_3}};
        }
    </style>
</head>
<body class="portrait" style="gap: 0;">
    <main id="pos-output-display">
        <div id="out-cart-wrapper" class="tucked">
            <div>
                <div id="cart"></div>
                <div style="text-align: end;" id="total-button">
                    Total: $<span id="tender-total"></span><span id="discount-display"></span>
                </div>
            </div>
        </div>
        <header>
            <img src="/heucc_pos/{{menu.header_image}}" alt="{{menu.title}} header image">
            <h1>{{menu.title|title}}</h1>
        </header>
        <div id="menu-actual">
            {% for category, dishes in compiled_menu.items %}
                {% if dishes %}
                <div class="title-item-pack">
                {% if category == "kitchen" %}
                <h2>Hot meals</h2>
                {% elif category == "bar" %}
                <h2>Drinks and snacks</h2>
                {% elif category == "gng" %}
                <h2>Pre-packaged food</h2>
                {% endif %}
                {% for dish in dishes %}
                {% if dish.available %}
                <div class="menu-item">
                    <div class="menu-item-info">
                        <h3>{{dish.title}}</h3>
                        <div class="components">
                            {{dish.components|capfirst}}
                        </div>
                    </div>
                    <div class="price">
                        ${{dish.price}}
                    </div>
                </div>
                {% endif %}
                {% if forloop.first %}
                </div>
                {% endif %}
                {% endfor %}
                {% if not forloop.last %}<div class="divider"></div>{% endif %}
                {% endif %}
            {% endfor %}
        </div>
        <small class="out-of-stock">
            <!-- {% if components_out %}
                * We might be out of this component. Check in with your cashier.
            {% endif %} -->
        </small>
        <footer>
            <img src="/heucc_pos/{{menu.footer_image}}" alt="{{menu.title}} footer image">
        </footer>
    </main>
    <main id="thank-you">
        <h1>Thank you!</h1>
    </main>
    <script>
        if (sessionStorage.getItem("fsReminderDone") !== "true") {
            alert("Don't forget to put your browser in fullscreen mode (default key is F11, or in ... settings in Chrome)");
            sessionStorage.setItem("fsReminderDone", "true");
        } 
        const dishes = JSON.parse('{{dishes|safe}}');
        console.log(dishes)
        
        const bg = getComputedStyle(document.body).getPropertyValue('--primary-background');

        document.documentElement.style.setProperty('--primary-contrast', invertColor(bg));

        function invertColor(hex) {
            if (hex.indexOf('#') === 0) {
                hex = hex.slice(1, 7);
            }
            // convert 3-digit hex to 6-digits.
            if (hex.length === 3) {
                hex = hex[0] + hex[0] + hex[1] + hex[1] + hex[2] + hex[2];
            }
            if (hex.length !== 6) {
                throw new Error('Invalid HEX color.');
            }
            // invert color components
            var r = (255 - parseInt(hex.slice(0, 2), 16)).toString(16),
                g = (255 - parseInt(hex.slice(2, 4), 16)).toString(16),
                b = (255 - parseInt(hex.slice(4, 6), 16)).toString(16);
            // pad each with zeros and return
            return '#' + padZero(r) + padZero(g) + padZero(b);
        }

        function padZero(str, len) {
            len = len || 2;
            var zeros = new Array(len).join('0');
            return (zeros + str).slice(-len);
        }
    </script>
    <script type="module" src="{% static 'pos_server/pos-output-screen.js' %}"></script>
</body>
</html>