@import url('https://cdn.jsdelivr.net/gh/Collert/AD-Elements@latest/colors.css');
/* @import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Satisfy&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');

button:hover:not(.no-style) *,
button:focus-visible:not(.no-style) *,
button:active:not(.no-style) *,
a.button:hover:not(.no-style) *,
a.button:focus-visible:not(.no-style) *,
a.button:active:not(.no-style) * {
    color: var(--primary-background)!important;
}

body {
    padding: 1rem;
    box-sizing: border-box;
}

main  {
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;  
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

header h1 {
    font-family: 'Nabla', system-ui;
    font-size: 48px;
    margin: 0;
}

@media (orientation:portrait) {
    header {
        flex-direction: column;
    } 

    header h1 {
        text-align: center;
    }

    nav {
        justify-content: center;
    }
}

#add-item,
#play-music {
    position: fixed;
    bottom: 3vh;
    right: 3vh;
}

.item {
    --_item-height: 10vh;

    border: 2px solid var(--primary-contrast);
    border-radius: 10px;
    height: var(--_item-height);
    justify-content: space-between;
    grid-auto-flow: column;
}

form#add-ingredients input[type="file"] {
    width: auto;
}

form#add-ingredients div:has(input[type="file"]) {
    grid-template-columns: auto 1fr;
    align-items: center;
}

form#add-ingredients div:has(input[type="file"]),
.item,
form #submit {
    width: 60%;
}

form#add-ingredients div:has(input[type="file"]),
.item {
    display: grid;
    margin: 0;
}

.item > div {
    display: grid;
    grid-auto-flow: column;
    gap: .5rem;
    align-items: center;
}
.item > div > select,
.item > div > input {
    height: 98%;
}

.item > div > input[type="number"] {
    width: 6rem;
}

.item > div > span {
    font-size: larger;
}

.item select {
    background-color: var(--primary-background);
    color: var(--primary-contrast);
    font-size: larger;
    border-radius: 10px;
}

.item input[type="number"] {
    background-color: var(--primary-background);
    border: none;
    font-size: larger;
}

form#add-ingredients,
form#add-ingredients .items{
    display: grid;
    gap: 1rem;
}

.item > button.icon {
    height: var(--_item-height);
    padding: 0;
    border: 0;
    border-left: 2px solid;
    border-radius: 0 10px 10px 0;
}

#shopping_history{
    margin: 3rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

#shopping_history .shopping-occasion {
    display: grid;
    place-items: center;
    height: 10rem;
    aspect-ratio: 1;
    border: 2px solid var(--primary-contrast);
    border-radius: 10px;
}

#shopping_history .shopping-occasion span{
    text-align: center;
}

#shopping_history iframe {
    width: 100%;
    height: 99%;
}

#crafting {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

#crafting .singles,
#crafting .multis,
#component_availability > section{
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

#crafting .multis{
    flex-direction: column;
}

#crafting .singles button {
    height: 40vh;
    font-size: 50px;
}


#crafting .multis .multi-component {
    display: grid;
    border: 2px solid var(--primary-contrast);
    border-radius: 10px;
    grid-template-columns: 1fr 2fr 2fr 1.5fr 1.5fr;
    font-size: 24px;
    align-items: center;
    padding: 2rem 1rem;
    gap: 1rem;
}

#crafting .multis .multi-component input {
    height: fit-content;
}

#crafting .multis .multi-component .qty {
    display: grid;
    place-items: center;
    gap: .5rem;
    grid-auto-flow: column;
    justify-content: start;
}

#crafting .multis .multi-component li {
    font-size: 16px;
}

@media (orientation:portrait) {
    #crafting {
        grid-template-columns: none;
    }
    #crafting .multis .multi-component ul {
        margin: 0;
    }
    #crafting .multis .multi-component {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 1fr;
        justify-items: center;
    }
    #crafting .multis .multi-component > span.inventory {
        text-align: center;
        grid-area: 2 / 1 / 3 / 3; 
    }
    #crafting .multis .multi-component input {
        width: 5rem;
    }
}
#component_availability button{
    height: 20vh;
    display: grid;
    align-content: center;
    gap: 1rem;
}

#component_availability button h2 {
    font-size: 30px;
    margin: 0;    
}

#component_availability button.error {
    text-decoration: line-through;
    --primary-contrast: var(--error-color);
}

#component_availability button.selected {
    background-color: var(--primary-contrast);
}

#component_availability button.selected *{
    color: var(--primary-background);
}
