{% extends "deliveries/layout.html" %}
{% load i18n %}
{% load static %}

{% block body %}
<img src="https://e3.365dm.com/24/03/1600x900/skynews-francois-langur-monkey_6488923.jpg?20240313102133" alt="">
<h1>{{request.user.first_name}} {{request.user.last_name}}</h1>
<div hidden id="notifications">
    <button><span class="material-symbols-outlined">notifications</span> Enable notifications</button>
</div>
{% if working %}
<form action="{% url 'delivery_profile' %}" method="post">
    {% csrf_token %}
    <h4>You are currently working. Go to "Orders" tab to check for new orders.</h4>
    <input type="text" hidden value="end" name="act">
    <button id="stop-button">Stop working</button>
</form>
{% if delivering %}
    <script>
        document.querySelector("form").addEventListener("submit", e => {
            e.preventDefault()
            alert("{% trans 'You must complete your delivery first!' %}")
        })
    </script>
{% endif %}
{% else %}
<form action="{% url 'delivery_profile' %}" method="post">
    <input type="text" hidden value="start" name="act">
    {% csrf_token %}
    <h3>{% trans "Select delivery method:" %}</h3>
    <div id="transport-mode">
        <input type="radio" id="transport-mode1" name="transport-mode" value="bicycling" />
        <label for="transport-mode1" class="transport-mode-label"><span class="material-symbols-outlined">directions_bike</span>{% blocktrans %} Bike /<br> Scooter{% endblocktrans %}</label>

        <input type="radio" id="transport-mode2" name="transport-mode" value="walking" />
        <label for="transport-mode2" class="transport-mode-label"><span class="material-symbols-outlined">directions_walk</span> {% trans "Walking" %}</label>

        <input type="radio" id="transport-mode3" name="transport-mode" value="driving" />
        <label for="transport-mode3" class="transport-mode-label"><span class="material-symbols-outlined">directions_car</span> {% trans "Driving" %}</label>
    </div>
    <button>{% trans "Start delivering" %}</button>
</form>
{% endif %}
<script>
    if (checkNotificationPermission() === false && checkNotificationPermission() !== undefined) {
        document.querySelector("#notifications").hidden = false;
        document.querySelector("#notifications button").addEventListener("click", () => {
            askNotificationPermission();
            document.querySelector("#notifications").hidden = true;
            window.location.reload();
        })
    }
</script>
{% endblock %}