{% extends "gift_cards/layout.html" %}
{% load i18n %}
{% load static %}

{% block body %}
{% csrf_token %}
<dialog id="payment-popup"></dialog>
<script>const webPaymentWindowURL = '{% url "web-payment-window" %}';</script>
<script src="{% static 'payments/cardPaymentPopup.js' %}"></script>
<h1>{% trans "Pick a pre-loaded card" %}</h1>
<div class="cards-container">
    {% for card in cards %}
        <div data-card-id="{{card.id}}" class="card">
            <img src="/pavilion/{{card.image}}" alt="" class="card-img">
            <div class="card-info">
                <span class="card-title">{{card.name}}</span>
                <span class="card-price">${{card.amount}}</span>
            </div>
        </div>
    {% endfor %}
</div>
<h1>{% trans "Or make your own" %}</h1>
<form id="personal-card-form" action="" method="post">
    {% csrf_token %}
    <h2>{% trans "Which cover?" %}</h2>
    <input type="text" name="image" hidden id="personal-hidden-image">
    <div id="personal-card-selector">
        <div></div>
        <button style="opacity: 0;" id="carousel-back"><span class="material-symbols-outlined">arrow_back_ios</span></button>
        <div id="cards-personal">
            {% for card in card_images %}
            <img src="{{card}}" alt="" class="card-img personal{% if forloop.first %} selected {% endif %}">
            {% endfor %}
        </div>
        <button id="carousel-forward"><span class="material-symbols-outlined">arrow_forward_ios</span></button>
        <div></div>
    </div>
    <h2>{% trans "How much money?" %}</h2>
    <input type="number" min="5" max="500" step=".01" name="amount" id="transaction-amount" class="transaction-amount">
    <h2>{% trans "For who?" %}</h2>
    <div id="is-gift">
        <input type="radio" id="is-gift1-card-personal" name="is-gift" checked value="false" />
        <label for="is-gift1-card-personal" class="is-gift-label">{% trans "For me" %}</label>

        <input type="radio" id="is-gift2-card-personal" name="is-gift" value="true" />
        <label for="is-gift2-card-personal" class="is-gift-label">{% trans "For someone else" %}</label>
    </div>
    <input id="card-personal-name" type="text" class="recipient-email" placeholder="{% trans 'Your name' %}">
    <input id="card-personal-recipient" type="email" class="recipient-email" placeholder="{% trans 'Recovery email' %}" required>
    <div hidden class="gift-options">
        <input id="card-personal-sender" type="text" class="recipient-email" placeholder="Sender's name">
    </div>
    <button>{% trans "Get this card" %}</button>
</form>
{% for card in cards %}
<dialog id="dialog-{{card.id}}">
    <form>
        <div class="dialog-body">
            <img src="/pavilion/{{card.image}}" alt="" class="card-img">
            <h3>{{card.name}}</h3>
            <h4>${{card.amount}}</h4>
            {% blocktrans %}
            <p>This gift card comes pre-loaded with ${{card.amount}}. You can choose to email this card to someone by selecting the option on the bottom. The card is not refundable, cannot be exchanged for cash or cannot be used for cashback. After the purchase, <strong>do not</strong> publish the link to the card anywhere. Only give the link to people that will be using the card.</p>
            {% endblocktrans %}
            <div id="is-gift">
                <input type="radio" id="is-gift1-card-{{card.id}}" name="is-gift" checked value="false" />
                <label for="is-gift1-card-{{card.id}}" class="is-gift-label">{% trans "This card is for me" %}</label>
    
                <input type="radio" id="is-gift2-card-{{card.id}}" name="is-gift" value="true" />
                <label for="is-gift2-card-{{card.id}}" class="is-gift-label">{% trans "This card is for someone else" %}</label>
            </div>
            <input id="card-{{card.id}}-name" type="text" class="recipient-email" placeholder="{% trans 'Your name' %}">
            <input id="card-{{card.id}}-recipient" type="email" class="recipient-email" placeholder="{% trans 'Recovery email' %}" required>
            <div hidden class="gift-options">
                <input id="card-{{card.id}}-sender" type="text" class="recipient-email" placeholder="{% trans 'Sender\'s name' %}">
            </div>
        </div>
        <nav>
            <button type="button" class="icon back-button"><span class="material-symbols-outlined">arrow_back</span></button>
            <button class="filled buy-button"><span class="material-symbols-outlined">shopping_cart</span>{% trans "Purchase" %}</button>
        </nav>
    </form>
</dialog>
<script>
    document.addEventListener("DOMContentLoaded", () => {
        // This script adds an event listener to the form inside the dialog with the ID `dialog-{{card.id}}`.
        // When the form is submitted, it prevents the default form submission behavior.
        // It then selects the form with the ID `create-card` and the popup with the ID `payment-popup`.
        // The script sets various hidden input fields in the `create-card` form with values from the submitted form:
        // - `hidden-image` is set to the card's image.
        // - `transaction-amount` is set to the card's amount.
        // - `hidden-email` is set to the recipient's email from the submitted form.
        // - `hidden-name` is set to the recipient's name from the submitted form.
        // - `hidden-sender` is set to the sender's name from the submitted form.
        // - `hidden-gifted` is set to whether the card is marked as a gift.
        // Finally, it dispatches a submit event on the `create-card` form to trigger its submission.
        document.querySelector("#dialog-{{card.id}} form").addEventListener("submit", e => {
            e.preventDefault()
            const form = document.querySelector("#create-card");
            // const form = e.currentTarget;
            const popup = document.querySelector("#payment-popup");
            form.querySelector("#hidden-image").value = "{{card.image}}"
            form.querySelector("#transaction-amount").value = "{{card.amount}}"
            form.querySelector("#hidden-email").value = e.currentTarget.querySelector("#card-{{card.id}}-recipient").value;
            form.querySelector("#hidden-name").value = e.currentTarget.querySelector("#card-{{card.id}}-name").value;
            form.querySelector("#hidden-sender").value = e.currentTarget.querySelector("#card-{{card.id}}-sender").value;
            form.querySelector("#hidden-gifted").value = e.currentTarget.querySelector("#is-gift2-card-{{card.id}}").checked;
            form.dispatchEvent(new Event("submit"));
        })
        // This script shows forms for personalizing gift card if the person is buying it for themselves.
        document.querySelector("#is-gift1-card-{{card.id}}").addEventListener("change", e => {
            document.querySelector("#card-{{card.id}}-name").placeholder = "{% trans 'Your name' %}"
            document.querySelector("#card-{{card.id}}-recipient").placeholder = "{% trans 'Recovery email' %}"
            document.querySelector("#dialog-{{card.id}} .gift-options").hidden = true;
        })
        // This script shows forms for personalizing gift card if the person is buying it sa a gift.
        document.querySelector("#is-gift2-card-{{card.id}}").addEventListener("change", e => {
            document.querySelector("#card-{{card.id}}-name").placeholder = "{% trans 'Recipient\'s name' %}"
            document.querySelector("#card-{{card.id}}-recipient").placeholder = "{% trans 'Recipient\'s email' %}"
            document.querySelector("#dialog-{{card.id}} .gift-options").hidden = false;
        })
    })
</script>
{% endfor %}
<form hidden class="attach-card-payment" id="create-card" action="" method="post">
    {% csrf_token %}
    <input type="email" name="email" id="hidden-email">
    <input type="text" name="name" id="hidden-name">
    <input type="text" name="sender" id="hidden-sender">
    <input type="number" name="amount" id="transaction-amount" class="transaction-amount">
    <input type="text" name="image" id="hidden-image">
    <input type="text" name="gifted" id="hidden-gifted">
</form>
<script>
    const csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
    const cards = document.querySelectorAll(".card");
    cards.forEach(card => {
        card.addEventListener("click", e => {
            const id = e.currentTarget.dataset.cardId;
            document.querySelector(`#dialog-${id}`).showModal()
        })
    })
    document.querySelectorAll(".back-button").forEach(button => {
        button.addEventListener("click", e => {
            e.currentTarget.parentElement.parentElement.parentElement.close()
        })
    })
    
    const personalCards = document.querySelectorAll(".card-img.personal")
    let selectedCard = 0;

    // Function: updateSelection
    // Description: Updates the selection of gift cards in the carousel by changing the selected card's CSS class and adjusting the opacity of navigation buttons.
    // Parameters:
    //     newIndex (number) - The index of the new card to be selected.
    // Behavior:
    //     - If newIndex is within the valid range (0 to personalCards.length - 1):
    //         - Removes the 'selected' class from the currently selected card.
    //         - Adds the 'selected' class to the new card.
    //         - Updates the selectedCard variable to the new index.
    //         - Sets the opacity of the forward and back carousel buttons to 1 (visible).
    //         - If the new index is 0, sets the opacity of the back button to 0 (hidden).
    //         - If the new index is the last card, sets the opacity of the forward button to 0 (hidden).
    function updateSelection(newIndex) {
        if (newIndex < personalCards.length && newIndex >= 0) {
            personalCards[selectedCard].classList.remove('selected');
            personalCards[newIndex].classList.add('selected');
            selectedCard = newIndex;
            document.querySelector("#carousel-forward").style.opacity = 1
            document.querySelector("#carousel-back").style.opacity = 1
            if (selectedCard === 0) {
                document.querySelector("#carousel-back").style.opacity = 0
            } else if (selectedCard === personalCards.length - 1) {
                document.querySelector("#carousel-forward").style.opacity = 0
            }
        }
    }

    document.querySelector("#carousel-forward").addEventListener("click", e => {
        e.preventDefault()
        updateSelection(selectedCard + 1)
    })
    
    document.querySelector("#carousel-back").addEventListener("click", e => {
        e.preventDefault()
        updateSelection(selectedCard - 1)
    })
    const personalCardForm = document.querySelector("#personal-card-form");
    personalCardForm.addEventListener("submit", e => {
        e.preventDefault()
        // TODO fix gifted input in the old form and add here
        const form = document.querySelector("#create-card");
        const popup = document.querySelector("#payment-popup");
        form.querySelector("#hidden-image").value = document.querySelector(".card-img.personal.selected").getAttribute("src")
        form.querySelector("#transaction-amount").value = personalCardForm.querySelector("#transaction-amount").value
        form.querySelector("#hidden-email").value = e.currentTarget.querySelector("#card-personal-recipient").value;
        form.querySelector("#hidden-name").value = e.currentTarget.querySelector("#card-personal-name").value;
        form.querySelector("#hidden-sender").value = e.currentTarget.querySelector("#card-personal-sender").value;
        form.querySelector("#hidden-gifted").value = e.currentTarget.querySelector("#is-gift2-card-personal").checked;
        form.dispatchEvent(new Event("submit"));
    })
    document.querySelector("#is-gift1-card-personal").addEventListener("change", e => {
        document.querySelector("#card-personal-name").placeholder = "Your name"
        document.querySelector("#card-personal-recipient").placeholder = "Recovery email"
        document.querySelector("#personal-card-form .gift-options").hidden = true;
    })
    document.querySelector("#is-gift2-card-personal").addEventListener("change", e => {
        document.querySelector("#card-personal-name").placeholder = "Recipient's name"
        document.querySelector("#card-personal-recipient").placeholder = "Recipient's email"
        document.querySelector("#personal-card-form .gift-options").hidden = false;
    })
</script>
{% endblock %}