#markings {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem 0 1rem;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

.order {
    border: 2px solid var(--primary-contrast);
    border-radius: 10px;
    min-height: 15px;
    padding: 1rem;
    display: grid;
    grid-template-rows: auto 0fr;
    transition: grid-template-rows 300ms ease;
}

.order > .summary {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    grid-template-rows: none!important;
    place-items: center;
}

.order .summary > h2 {
    font-size: xx-large;
}

.order .summary .name-time {
    font-size: large;
    font-weight: 600;
    display: grid;
    grid-template-rows: auto auto;
    gap: .5rem;
}

.order h3 {
    display: flex;
    gap: 1rem;
}

.order ul {
    margin: 0;
}

.order li {
    font-size: larger;
}

.order > * {
    overflow: hidden;
}

.order.selected,
.order.selected > *,
.order:hover {
    grid-template-rows: auto 1fr;
}

.order.selected,
.order.selected  *,
.order:hover,
.order:hover  * {
    color: var(--primary-background)!important;
    background: var(--primary-contrast);
    cursor: pointer;
}

.order.order[data-progress-state="1"],
.order.order[data-progress-state="1"] * {
    transition: all 100ms ease;
    border-color: #f5d001;
}

.order.selected.order[data-progress-state="1"],
.order.selected.order[data-progress-state="1"] * {
    background-color: #f5d001;
}

.order.order[data-progress-state="0"],
.order.order[data-progress-state="0"] * {
    transition: all 100ms ease;
    border-color: #0662A6!important;
}

.order.selected.order[data-progress-state="0"],
.order.selected.order[data-progress-state="0"] * {
    background-color: #0662A6!important;
}


.order[data-progress-state="3"],
.order[data-progress-state="3"] * {
    transition: all 100ms ease;
    border-color: var(--success-color);
}

.order.selected[data-progress-state="3"],
.order.selected[data-progress-state="3"] * {
    background-color: var(--success-color);
}

.order.disappear {
    animation: disappear 300ms ease forwards;
}

@keyframes appear {from{opacity: 0;} to{opacity: 1;}}
@keyframes disappear {
    from{
        opacity: 1;
        height: 110px;
        padding: 1rem;
        border-width: 2px;
    } to {
        opacity: 0;
        height: 0;
        padding: 0;
        border-width: 0;
    }
}

.progresses {
    display: flex;
    gap: 1rem;
}

.progress-stack {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.progress-stack .hourglass {
    position: relative;
}
.progress-stack .hourglass span {
    position: absolute;
}

.progress-stack .hourglass span:first-child {
    animation: hourglass-bottom 3s ease infinite;
}
.progress-stack .hourglass span:last-child {
    animation: hourglass-top 3s linear infinite;
}

.order[data-kitchen-status="0"] .kitchen-progress .hourglass,
.order[data-bar-status="0"] .bar-progress .hourglass,
.order[data-gng-status="0"] .gng-progress .hourglass {
    display: block;
}

.order[data-kitchen-status="0"] .kitchen-progress .done_all,
.order[data-bar-status="0"] .bar-progress .done_all,
.order[data-gng-status="0"] .gng-progress .done_all,
.order[data-kitchen-status="0"] .kitchen-progress .check,
.order[data-bar-status="0"] .bar-progress .check,
.order[data-gng-status="0"] .gng-progress .check {
    display: none;
}

.order[data-kitchen-status="1"] .kitchen-progress .check,
.order[data-bar-status="1"] .bar-progress .check,
.order[data-gng-status="1"] .gng-progress .check {
    display: block;
}

.order[data-kitchen-status="1"] .kitchen-progress .done_all,
.order[data-bar-status="1"] .bar-progress .done_all,
.order[data-gng-status="1"] .gng-progress .done_all,
.order[data-kitchen-status="1"] .kitchen-progress .hourglass,
.order[data-bar-status="1"] .bar-progress .hourglass,
.order[data-gng-status="1"] .gng-progress .hourglass {
    display: none;
}

.order[data-kitchen-status="2"] .kitchen-progress .done_all,
.order[data-bar-status="2"] .bar-progress .done_all,
.order[data-gng-status="2"] .gng-progress .done_all {
    display: block;
}

.order[data-kitchen-status="2"] .kitchen-progress .check,
.order[data-bar-status="2"] .bar-progress .check,
.order[data-gng-status="2"] .gng-progress .check,
.order[data-kitchen-status="2"] .kitchen-progress .hourglass,
.order[data-bar-status="2"] .bar-progress .hourglass,
.order[data-gng-status="2"] .gng-progress .hourglass {
    display: none;
}

.shake {
    animation: shake 2s;
}

#filters-form {
    place-items: center;
}

.filter-switch {
    width: 100%;
}

.filter-switch input[type="checkbox"] {
    display: none;
}

.filter-switch input[type="checkbox"] + label {
    display: inline-block;
    background-color: var(--primary-background);
    color: var(--primary-contrast);
    border: 2px solid var(--primary-contrast);
    transition: all 200ms ease;
    padding: .5rem 1rem;
    cursor: pointer;
    border-radius: 100dvh;
    text-align: center;
    width: 100%;
}

.filter-switch input[type="checkbox"]:checked + label {
    background-color: var(--primary-contrast);
    color: var(--primary-background);
    border-color: var(--primary-contrast);
}

#reject-reason form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

#rejection-reasons {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
}

#reject-reason .rejection {
    aspect-ratio: 1;
    border: 2px solid var(--primary-contrast);
    display: grid;
    place-items: center;
    padding: .5rem;
    border-radius: 10px;
    width: 275px;
    transition: all 300ms ease;
}

#reject-reason .rejection:has(input[type="checkbox"]:checked) {
    background-color: var(--primary-contrast);
}

#reject-reason .rejection input[type="checkbox"]:checked + label span {
    color: var(--primary-background);
}

#reject-reason .rejection label span {
    position: relative;
    font-size: xx-large;
    text-align: center;
}
#reject-reason .rejection label span.material-symbols-outlined {
    font-size: 80px;
}

#reject-reason .rejection label {
    display: flex;
    gap: 1rem;
    align-items: center;
    flex-direction: column;
}

#reject-reason .rejection input {
    position: absolute;
    opacity: 0;
    height: 0;
}

dialog nav {
    margin-bottom: 1rem;
}

dialog h2 {
    margin: 0;
}

.order-actions {
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
}

.order-actions button {
    border-radius: 10px;
    aspect-ratio: 1;
    display: grid;
    grid-template-rows: 1fr auto;
    height: 10rem;
    place-items: center;
}

.order-actions button:disabled {
    opacity: .5;
}

.order-actions button span {
    padding: .5rem 0;
}

.order-actions button .material-symbols-outlined {
    font-size: 64px;
}

@keyframes hourglass-top {
    from {
        clip-path: inset(0% 0% 0% 0%);
    }
    70% {
        clip-path: inset(50% 0% 50% 0%);
    } 
    99.9% {
        clip-path: inset(50% 0% 50% 0%);
    }
    to {
        clip-path: inset(0% 0% 0% 0%);
    }
}

@keyframes hourglass-bottom {
    from {
        transform: rotate(0);
    }
    70% {
        transform: rotate(0deg);
    }
    99.9% {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0);
    }
}

@keyframes shake {
    from, to {
        transform: none;
    } 10% {
        transform: scale(2);
    } 20%, 30%, 40%, 50%, 60%, 70%, 80% {
        transform: scale(2) translateX(15%);
        color: var(--error-color, salmon)!important;
    } 25%, 35%, 45%, 55%, 65%, 75% {
        transform: scale(2) translateX(-15%);
        color: var(--error-color, salmon)!important;
    } 90% {
        transform: scale(2);
    }
}