{% load static %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'new_admin/layers.css' %}" rel="stylesheet">
    <link href="{% static 'new_admin/project-styles.css' %}" rel="stylesheet">
    {% block stylesheets %}
    {% endblock %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="{% static 'fonts.css' %}">
    <title>{% trans "Admin:" %} {% block title %}{% endblock %}</title>
    <style>
        .material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 48
        }
    </style>
</head>
<body>
    <header id="portrait-only">
        <button class="icon">
            <span class="material-symbols-outlined">menu</span>
        </button>
    </header>
    <header>
        <img src="{% static 'new_admin/Pavilion logo.webp' %}" id="logo" alt="">
        <nav id="primary-nav">
            <div class="nav-section" id="dashboard-nav">
                <div class="nav-section-header">
                    <span class="material-symbols-outlined">monitoring</span>
                    <span>{% trans "Dashboard" %}</span>
                </div>
                <div class="nav-section-body">
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Home" %}</a>
                    <a class="header-link" href="{% url 'admin-dashboard-history' %}">{% trans "History" %}</a>
                </div>
            </div>
            <div class="nav-section" id="orders-nav">
                <div class="nav-section-header">
                    <span class="material-symbols-outlined">orders</span>
                    <span>{% trans "Orders" %}</span>
                </div>
                <div class="nav-section-body">
                    <a class="header-link" href="{% url 'admin-orders-retail' %}">{% trans "Retail Orders" %}</a>
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Catering" %}</a>
                </div>
            </div>
            <div class="nav-section" id="menus-nav">
                <div class="nav-section-header">
                    <span class="material-symbols-outlined">menu_book</span>
                    <span>{% trans "Menus" %}</span>
                </div>
                <div class="nav-section-body">
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Menus list" %}</a>
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Create menu" %}</a>
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Dishes" %}</a>
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Recipes" %}</a>
                </div>
            </div>
            <div class="nav-section" id="inventory-nav">
                <div class="nav-section-header">
                    <span class="material-symbols-outlined">warehouse</span>
                    <span>{% trans "Inventory" %}</span>
                </div>
                <div class="nav-section-body">
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Components" %}</a>
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Ingredients" %}</a>
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Condiments" %}</a>
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Packaging" %}</a>
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Crafting" %}</a>
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Restocks" %}</a>
                </div>
            </div>
            <div class="nav-section" id="store-nav">
                <div class="nav-section-header">
                    <span class="material-symbols-outlined">storefront</span>
                    <span>{% trans "Store" %}</span>
                </div>
                <div class="nav-section-body">
                    <a class="header-link" href="{% url 'admin-store-branding' %}">{% trans "Branding" %}</a>
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Working hours" %}</a>
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Stations" %}</a>
                    <a class="header-link" href="{% url 'admin-store-promo-content' %}">{% trans "Promo content" %}</a>
                    <a class="header-link" href="{% url 'admin-store-events' %}">{% trans "Events" %}</a>
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Media" %}</a>
                </div>
            </div>
            <div class="nav-section" id="team-nav">
                <div class="nav-section-header">
                    <span class="material-symbols-outlined">groups_2</span>
                    <span>{% trans "Team" %}</span>
                </div>
                <div class="nav-section-body">
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Staff" %}</a>
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Groups" %}</a>
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Roles" %}</a>
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Training" %}</a>
                </div>
            </div>
            <div class="nav-section" id="rewards-nav">
                <div class="nav-section-header">
                    <span class="material-symbols-outlined">redeem</span>
                    <span>{% trans "Rewards" %}</span>
                </div>
                <div class="nav-section-body">
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Coupons" %}</a>
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Discounts" %}</a>
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Gift card presets" %}</a>
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Active gift cards" %}</a>
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "New gift card" %}</a>
                </div>
            </div>
            <div class="nav-section" id="settings-nav">
                <div class="nav-section-header">
                    <span class="material-symbols-outlined">settings</span>
                    <span>{% trans "Settings" %}</span>
                </div>
                <div class="nav-section-body">
                    <a class="header-link" href="{% url 'admin-dashboard-home' %}">{% trans "Webhooks" %}</a>
                </div>
            </div>
        </nav>
        <nav id="secondary-nav">
            <a class="no-style" href="" id="profile-container">
                <img src="https://pasa.org/wp-content/uploads/2021/06/Vervet-Monkey-Foundation-credit-Kyle-.jpg" alt="">
                <span>{{request.user.first_name}} {{request.user.last_name}}</span>
            </a>
            <a class="no-style" href="">
                <span class="material-symbols-outlined">power_settings_new</span>
            </a>
        </nav>
    </header>
    {% block content %}
    {% endblock %}
</body>
<script>
    const navSections = document.querySelectorAll('.nav-section');
    const body = document.querySelector("body");
    navSections.forEach(navSection => {
        navSection.addEventListener('click', () => {
            navSections.forEach(navSection => {
                navSection.classList.remove('active');
            });
            navSection.classList.add('active');
        });
    });
    const currentUrl = window.location.pathname.split('/');
    const sectionName = currentUrl[3];

    navSections.forEach(navSection => {
        if (navSection.id.includes(sectionName)) {
            navSection.classList.add('active');
        }
    });
    document.querySelector("#portrait-only button").addEventListener("click", e => {
        body.classList.toggle("header-open")
    });
</script>
</html>