{% extends "online_store/layout.html" %}
{% load static %}

{% block body %}
{% csrf_token %}
<style>
    :root {
        --primary-background: {{menu.menu.background_color}};
        --accent-1: {{menu.menu.accent_1}};
        --accent-2: {{menu.menu.accent_2}};
        --accent-3: {{menu.menu.accent_3}};
    }
</style>
<div class="title-info">
    <img src="
    {% if dish.image %}
        /{{dish.image}}
    {% else %}
        https://upload.wikimedia.org/wikipedia/commons/thumb/6/65/No-Image-Placeholder.svg/1665px-No-Image-Placeholder.svg.png
    {% endif %}
    " alt="{{dish.title}}">
    <h1>{{dish.title}}</h1>
    <h2>${{dish.price|floatformat:2}}</h2>
    <button disabled><abbr title="Coming soon!">Order online</abbr></button>
</div>
<div class="more-info">
    <p><b>Consists of:</b> {{pretty_dish.components}}</p>
    <p>{{dish.description}}</p>
    {% if allergens %}<p><b>Potential allergens:</b> {{allergens}}</p>{% endif %}
</div>
{% endblock %}