{% extends "pos_server/layout.html" %}
{% load i18n %}
{% load static %}

{% block body %}
<form action="{% url 'create_menu' %}" method="post" id="menu-create" enctype="multipart/form-data">
    {% csrf_token %}
    <h1>{% trans "Create a new menu:" %}</h1>
    <label for="title">{% trans "Menu title" %}</label>
    <input type="text" name="title" id="title">
    <label for="header-img">{% trans "Header image" %}</label>
    <input type="file" name="header" id="header-img">
    <label for="footer-img">{% trans "Footer image" %}</label>
    <input type="file" name="footer" id="footer-img">
    <button type="submit">{% trans "Create" %}</button>
    {% if done %}
    <h1>{% trans "Menu created!" %}</h1>
    {% endif %}
</form>
{% endblock %}