{% load static %}
{% load custom_filters %}
{% load i18n %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{% static 'pos_server/layers.css' %}" rel="stylesheet">
    <link href="{% static 'pos_server/project-styles.css' %}" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Display:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Include Chart.js from CDN -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <title>HEUCC Restaurant</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <style>
        .material-symbols-outlined {
          font-variation-settings:
          'FILL' 0,
          'wght' 400,
          'GRAD' 0,
          'opsz' 48
        }
    </style>
</head>
<body style="gap: 0;">
    <main id="day-stat">
        <div class="stat-cell">
            <h1>{% trans "Menu items stats:" %}</h1>
            <table>
                <tr>
                    <th>{% trans "Dish" %}</th>
                    <th>{% trans "Quantity" %}</th>
                </tr>
                {% for item, quantity in stats.item_stats.items %}
                <tr>
                    <td>{{item}}</td>
                    <td>{{quantity}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="stat-cell">
            <h1>{% trans "Components used:" %}</h1>
            <table>
                <tr>
                    <th>{% trans "Component" %}</th>
                    <th>{% trans "Quantity" %}</th>
                </tr>
                {% for item, quantity in stats.components.items %}
                <tr>
                    <td>{{item}}</td>
                    {% if quantity.1 == "ea" %}
                    <td>{{quantity.0|floatformat:0}} {{quantity.1|title}}</td>
                    {% else %}
                    <td>{{quantity.0|floatformat:2}} {{quantity.1|title}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="stat-cell">
            <h1>{% trans "Ingredients used:" %}</h1>
            <table>
                <tr>
                    <th>{% trans "Ingredient" %}</th>
                    <th>{% trans "Quantity" %}</th>
                </tr>
                {% for item, quantity in stats.ingredients.items %}
                <tr>
                    <td>{{item}}</td>
                    {% if quantity.1 == "ea" %}
                    <td>{{quantity.0|floatformat:0}} {{quantity.1|title}}</td>
                    {% else %}
                    <td>{{quantity.0|floatformat:2}} {{quantity.1|title}}</td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
        <div class="stat-cell" id="stations">
            <h1>{% trans "Stations mix:" %}</h1>
            <canvas style="width: 80%;" id="stationsPieChart"></canvas>
        </div>
        <div class="stat-cell" id="customer-occasions">
            <h1>{% trans "Customer occasions:" %}</h1>
            <table>
                <tr>
                    <th>{% trans "Time" %}</th>
                    <th>{% trans "Orders" %}</th>
                    <th>{% trans "Earnings" %}</th>
                </tr>
                {% for time_window, summary in stats.order_occasions.items %}
                    <tr>
                        <td>{{ time_window }}</td>
                        <td>{{ summary.count }}</td>
                        <td>${{ summary.total_earnings|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
            </table>            
        </div>
        <div class="stat-cell" id="prep-times">
            <h1>{% trans "Average prep times:" %}</h1>
            <table>
                <tr>
                    <th>{% trans "Time" %}</th>
                    <th>{% trans "Avg prep time" %}</th>
                </tr>
                {% for time_window, prep_time in stats.prep_times.items %}
                    <tr>
                        <td>{{ time_window }}</td>
                        <td>{{ prep_time|format_duration }} min</td>
                    </tr>
                {% endfor %}
            </table> 
        </div>
    </main>
    {{ stats.stations|json_script:"stations-data" }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            function getCssVariable(variableName) {
                return getComputedStyle(document.documentElement).getPropertyValue(variableName).trim();
            }

            const accent1 = getCssVariable('--accent-1');
            const accent2 = getCssVariable('--accent-2');
            const accent3 = getCssVariable('--primary-contrast');

            // Get data from the JSON script tag
            const rawData = JSON.parse(document.getElementById('stations-data').textContent);
    
            // Prepare the data for the chart
            const data = {
                labels: Object.keys(rawData),
                datasets: [{
                    label: '{% trans "Station distributions" %}',
                    data: Object.values(rawData),
                    backgroundColor: [accent1, accent2, accent3], // You can customize colors
                    hoverOffset: 4
                }]
            };
    
            // Configure and render the chart
            const ctx = document.getElementById('stationsPieChart').getContext('2d');
            const myPieChart = new Chart(ctx, {
                type: 'pie',
                data: data,
            });
        });
    </script>    
</body>
</html>