{% extends "inventory/layout.html" %}
{% load static %}

{% block body %}
{% csrf_token %}
    <h1>Components: </h1>
    <section>
        {% for component in components %}
        <button data-id="{{component.id}}" class="component icon {% if not component.in_stock %}error{% endif %}">
            <h2>{{component.title}}</h2>
            <span>Available: {{component.inventory}} {{component.unit_of_measurement|title}}</span>
        </button>
        {% endfor %}
    </section>
    <h1>Individual dishes:</h1>
    <section>
        {% for component in dishes %}
        <button data-id="{{component.id}}" class="dish icon {% if not component.in_stock and not component.force_in_stock %}error{% elif component.force_in_stock %}success{% endif %}">
            <h2>{{component.title}}</h2>
        </button>
        {% endfor %}
    </section>

    <script>
        const csrftoken = document.querySelector('input[name="csrfmiddlewaretoken"]').value;
        let buttons = document.querySelectorAll("button.icon");
        buttons = [...buttons];
        let selectedIndex = buttons.findIndex(element => element.classList.contains('selected'));

        document.addEventListener('keydown', (e) => {
            if (e.key === 'ArrowRight') {
                updateSelection(selectedIndex + 1);
            } else if (e.key === 'ArrowLeft') {
                updateSelection(selectedIndex - 1);
            } else if (e.key === "Enter") {
                toggleItem(buttons[selectedIndex].dataset.id, buttons[selectedIndex].classList.contains('dish') ? "dish" : "component")
            } else if (e.key === "1") {
                parent.postMessage('closeDialog', '*'); // Send message to main page
            }
        });
        
        buttons.forEach(button => {
            button.addEventListener("click", e => {
                toggleItem(button.dataset.id, button.classList.contains('dish') ? "dish" : "component")
            })
        })
        
        // Function: toggleItem

        // Description:
        // This function toggles the availability status of an item (component or dish) by sending a PUT request to the server.
        // It updates the UI based on the response from the server.

        // Parameters:
        // - id (string): The unique identifier of the item to be toggled.
        // - type (string): The type of the item (e.g., 'component', 'dish').

        // Behavior:
        // - Selects the button element associated with the given id and type.
        // - Sends a PUT request to the server with the item's id and type in the request body.
        // - If the server responds with a successful status, toggles the "error" class on the button.
        // - Parses the response data to update the UI for related dishes:
        //     - Adds the "error" class to dishes that are not in stock and not forced in stock.
        //     - Adds the "success" class to dishes that are forced in stock.
        //     - Removes the "error" class from dishes that are in stock.
        function toggleItem(id, type) {
            const button = document.querySelector(`[data-id="${id}"].${type}`)
            fetch("{% url 'component_availability' %}", {
                headers: {"X-CSRFToken": csrftoken },
                method:'PUT',
                body:JSON.stringify({
                    id:id,
                    type:type
                })
            })
            .then(response => {
                if (response.ok) {
                    button.classList.toggle("error")
                    return response.json()
                }
            })
            .then(data => {
                const dishes = JSON.parse(data.dishes);
                for (const dish of dishes) {
                    if (!dish.fields.in_stock && !dish.fields.force_in_stock) {
                        document.querySelector(`[data-id="${dish.pk}"].dish`).classList.add("error")
                    } else if (dish.fields.force_in_stock) {
                        document.querySelector(`[data-id="${dish.pk}"].dish`).classList.add("success")
                    } else {
                        document.querySelector(`[data-id="${dish.pk}"].dish`).classList.remove("error")
                    }
                }
            })
        }
        
        // Function: updateSelection
        // Description: Updates the selection of buttons by changing the CSS class of the currently selected button and the new button.
        // Parameters:
        //     newIndex (number) - The index of the new button to be selected.
        // Behavior:
        //     - If the selectedIndex is less than 0, it sets selectedIndex to 0.
        //     - If the newIndex is within the valid range (0 to buttons.length - 1), it removes the 'selected' class from the currently selected button and adds the 'selected' class to the new button.
        //     - Updates the selectedIndex to the newIndex.
        function updateSelection(newIndex) {
            if (selectedIndex < 0) {selectedIndex = 0};
            if (newIndex < buttons.length && newIndex >= 0) {
                buttons[selectedIndex].classList.remove('selected');
                buttons[newIndex].classList.add('selected');
                selectedIndex = newIndex;
            };
        };
    </script>
{% endblock %}