{% extends "gift_cards/layout.html" %}
{% load static %}

{% block body %}
{% csrf_token %}
{% if card %}
    <style>
        * {
            text-align: center;
        }
        p {
            padding-bottom: 1rem;
        }
        main {
            padding: 2rem;
        }
    </style>
    <img src="{{card.image}}" class="card-img" alt="">
    <h1>Card active!</h1>
    <p>Use the button below to access the card. <b>DO NOT share this link</b> with anyone who is not supposed to access the card!
    Only send it to people who you trust this card to. You will also get a copy of this card sent to the email mentioned in the previous step.
    The card is not refundable, cannot be exchanged for cash or cannot be used for cashback.</p>
    <a href="{% url 'card_display' card_number=card.number %}" class="button">View card</a>
{% else %}
    <h1>No card</h1>
{% endif %}
{% endblock %}