#dashboard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    gap: 1rem;
}

#dashboard dialog>div {
    height: 95%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

#dashboard dialog nav {
    display: flex;
    justify-content: space-between;
}

#dashboard dialog h1 {
    margin: 0;
}

#dashboard iframe {
    border: none;
    width: 100%;
    height: 99%;
}

#day-stat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.stat-cell table {
    border-spacing: .5rem;
    border-collapse: separate;
}

.stat-cell table td {
    text-align: center;
}

.stat-cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}