@media screen {
    #pos-output-display {
        width: 100vh;
        height: 100vw;
        box-sizing: border-box;
        /* background: navajowhite; */
        grid-template-rows: auto calc(100vw - var(--_header-img-height) - var(--_footer-img-height) - var(--_header-title-height) - 3rem) auto auto;
        padding: var(--_padding-compensation) 0 var(--_padding-compensation) 0;

        --_header-img-height: 18vw;
        --_header-title-height: 60px;
        --_footer-img-height: 5vw;
        --_padding-compensation: 2%;
    }
}

#out-cart-wrapper {
    grid-template-rows: 1fr;
    transition: all 300ms ease;
    position: absolute;
    box-sizing: border-box;
    bottom: 0;
    width: 100%;
    display: grid;
    align-items: end;
    padding: 1rem;
    padding-bottom: calc(1rem + var(--_padding-compensation));
    background: linear-gradient(0deg, var(--primary-background) 0%, var(--primary-background) 75%, transparent 100%);
}

#out-cart-wrapper > div {
    overflow: hidden;
}

#pos-output-display header {
    padding: 0;
    place-items: start center;
}

#menu-actual .divider {
    background-color: var(--primary-contrast);
    height: 2px;
}

#pos-output-display header img {
    max-height: var(--_header-img-height);
}

#pos-output-display footer img {
    max-height: var(--_footer-img-height);
}

#pos-output-display header h1 {
    font-family: 'Satisfy', cursive;
    max-height: var(--_header-title-height);
    color: var(--accent-2);
    margin: 0;
    font-size: var(--_header-title-height);
}

#pos-output-display footer {
    display: grid;
    place-items: end center;
}

#pos-output-display header img,
#pos-output-display footer img {
    width: 100vh;
}

#pos-output-display h2 {
    color: var(--accent-3);
    font-size: 35px;
}

.menu-item-info h3 {
    color: var(--accent-2);
    font-size: 25px;
}

#out-cart-wrapper.tucked {
    transform: translateY(40px);
    grid-template-rows: 0fr;
}

#out-cart-wrapper.tucked > div {
    opacity: 0;
}

#pos-output-display #cart,
#summary {
    display: flex;
    flex-direction: column-reverse;
}

#pos-output-display #cart .cart-item,
#summary .cart-item {
    border: none;
    padding: 0;
    height: 5vh;
    justify-items: start;
}

#menu-actual {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 0 1rem 0 1rem;
}

.menu-item {
    grid-template-columns: auto auto;
    gap: 1rem;
    width: 45vh;
}
.menu-item,
.menu-item > div {
    display: grid;
    place-items: end start;
}

.menu-item .price {
    color: var(--accent-1);
    font-weight: 700;
    font-size: 24px;
}

main#thank-you {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100vh;
    height: 100vw;
    place-items: center;
    background-color: var(--primary-background);
}

main#thank-you h1 {
    text-align: center;
}

main#thank-you.anim {
    animation: thank-anim 4s ease both;
}

.out-of-stock {
    padding: 1rem;
}

@keyframes thank-anim {
    from, to {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }
    
}

@media print {
    #pos-output-display {
        --_header-img-height: 18vh;
        --_header-title-height: 60px;
        --_footer-img-height: 5vh;
        --_padding-compensation: 2%;
    }

    html {
        height: 100%;
    }

    h2 {
        margin: 1rem!important;
    }
    
    #pos-output-display {
        grid-template-rows: calc(var(--_header-img-height) + var(--_header-title-height)) calc(100vh - var(--_header-img-height) - var(--_footer-img-height) - var(--_header-title-height) - 4rem) auto;
        height: 100vh;
        width: 100vw;
        padding: 0;
        gap: 2rem;
    }
    
    #pos-output-display header img {
        max-height: var(--_header-img-height);
        object-position: center;
        object-fit: fill;
    }

    #pos-output-display header,
    #pos-output-display header img{
        width: 100vw;
    }

    #pos-output-display header {
        height: calc(var(--_header-img-height) + var(--_header-title-height));
        margin-bottom: 3rem;
    }
    
    #menu-actual {
        width: 100vw;
        box-sizing: border-box;
    }
    
    .menu-item {
        width: 45vw;
    }
    
    main#thank-you,
    #out-cart-wrapper,
    small.out-of-stock {
        display: none;
        padding: 0;
    }

    #pos-output-display header h1 {
        font-family: 'Satisfy', cursive;
        max-height: var(--_header-title-height);
        height: auto;
        color: var(--accent-2);
        font-size: var(--_header-title-height);
    }
}