/* I swear to god that i will organize this into different files one day... */

@import url('https://cdn.jsdelivr.net/gh/Collert/AD-Elements@latest/colors.css');
@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Satisfy&display=swap');
@import url("pos.css");
@import url("kitchen.css");
@import url("dashboard.css");
@import url("pos-output.css");
@import url("register-staff.css");
@import url("orders-status.css");

html {
    font-family: 'Noto Sans Display', sans-serif;
}

textarea {
    background-color: var(--primary-background);
    color: var(--primary-contrast);
    border: 2px solid var(--primary-contrast);
    border-radius: 10px;
    padding: .5rem;
}

dialog nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: space-between;
    align-items: center;
}

@media screen {
    body.portrait {
        transform: rotate(90deg);
        transform-origin: right top;
        width: 100vh;
        height: 100vw;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        right: 0;
    }
}

header {
    display: grid;
    place-items: center end;
    padding: 1rem;
}

body {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100dvh;
    gap: 2rem;
}

main {
    display: grid;
}

main#login {
    place-items: center;
}

form#login {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

button:hover:not(.no-style) span,
button:focus-visible:not(.no-style) span,
button:active:not(.no-style) span,
a.button:hover:not(.no-style) span,
a.button:focus-visible:not(.no-style) span,
a.button:active:not(.no-style) span {
    color: var(--primary-background)!important;
}

main:has(form#menu-create) {
    display: grid;
    place-items: center;
}

form#menu-create {
    display: grid;
    gap: 1rem;
}

#dropdown {
    position: relative;
    display: inline-block;
}

#dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    left: -40%;
    background-color: var(--primary-contrast);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 1rem;
}

#dropdown-content a {
    color: var(--primary-background);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* #dropdown-content a:hover {background-color: #ddd;} */

#dropdown:hover #dropdown-content {display: block;}

#utils > div,
#authorize > form,
#menus > form,
#discounts > form,
#login > form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#filters-form {
    display: grid;
    gap: 1rem;
}

.filter-switch {
    display: flex;
    justify-content: space-between;
}

#filters-form .preference-categories {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

#filters-form .preference-category {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    align-items: center;
}