/* I swear to god that i will organize this into different files one day... */

@import url('https://cdn.jsdelivr.net/gh/Collert/AD-Elements@latest/colors.css');

html {
    font-family: 'Noto Sans Display', sans-serif;
}

textarea {
    background-color: var(--primary-background);
    color: var(--primary-contrast);
    border: 2px solid var(--primary-contrast);
    border-radius: 10px;
    padding: .5rem;
}

body.portrait {
    transform: rotate(90deg);
    transform-origin: right top;
    width: 100vh;
    height: 100vw;
    overflow-x: hidden;
    position: absolute;
    top: 100%;
    right: 0;
}
  

header {
    display: grid;
    place-items: center end;
    padding: 1rem;
}

/* header nav {
    display: grid;
    gap: 2rem;
    grid-auto-flow: column;
} */

body {
    display: grid;
    grid-template-rows: auto 1fr;
    min-height: 100dvh;
    gap: 2rem;
}

main {
    display: grid;
}

main#login {
    place-items: center;
}

form#login {
    display: grid;
    grid-auto-flow: row;
    gap: 1rem;
}

main#pos {
    grid-template-columns: 2fr 1fr;
    gap: 1rem;
}

#items {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    flex: 0 1 300px;
    justify-content: center;
}

#items-wrapper {
    display: grid;
    place-items: center;
}

.dish {
    display: grid;
    aspect-ratio: 1;
    font-size: x-large;
    height: 200px;
    width: 200px;
    grid-template-rows: 1fr auto;
    padding: 2rem;
}

.dish > div {
    display: flex;
    justify-content: space-around;
}

.dish-title {
    height: 100%;
    display: grid;
    place-items: center;
}

#cart-wrapper {
    display: grid;
    grid-template-rows: 1fr auto;
    padding-bottom: 3rem;
    gap: 1rem;
}

#cart {
    /* align-content: center; */
    overflow-y: auto;
    height: 69vh;
}

#send-button,
#total-button {
    transition: opacity 300ms ease;
}

.hidden {
    opacity: 0;
    height: 0;
    /* cursor: initial; */
}

.cart-item {
    border: 2px solid var(--primary-contrast);
    border-radius: 10px;
    animation: appear 300ms ease;
    display: grid;
    padding: 20px;
    grid-template-columns: 1fr auto;
    height: 10vh;
    margin-bottom: .75rem;
}

.cart-item button {
    border-radius: 0 7px 7px 0;
    border-width: 0 0 0 2px;
    margin: -20px;
}

.cart-item-title {
    font-size: 30px;
    display: grid;
    place-items: center;
    grid-auto-flow: column;
}

#total-button {
    font-size: 30px;
    font-weight: bold;
}

@media (orientation:portrait) {
    main#pos {
        grid-template-columns: none;
        grid-template-rows: 1fr auto;
    }
    #cart {
        height: auto;
    }
}

#kitchen {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem 0 1rem;
    width: 100vw;
    overflow-x: hidden;
    box-sizing: border-box;
}

.order {
    border: 2px solid var(--primary-contrast);
    border-radius: 10px;
    min-height: 15px;
    padding: 1rem;
    display: grid;
    grid-template-rows: auto 0fr;
    transition: grid-template-rows 300ms ease;
}

.order > .summary {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    grid-template-rows: none!important;
    place-items: center;
}

.order .summary > h2 {
    font-size: xx-large;
}

.order .summary .name-time {
    font-size: large;
    font-weight: 600;
    display: grid;
    grid-template-rows: auto auto;
    gap: .5rem;
}

.order ul {
    margin: 0;
}

.order li {
    font-size: larger;
}

.order > * {
    overflow: hidden;
}

.order.selected,
.order.selected > *,
.order:hover {
    grid-template-rows: auto 1fr;
}

.order.selected,
.order.selected  *,
.order:hover,
.order:hover  * {
    color: var(--primary-background)!important;
    background: var(--primary-contrast);
    cursor: pointer;
}

.order.success,
.order.success > * {
    transition: background-color 100ms ease;
    background-color: var(--success-color);
    border-color: var(--success-color);
}

.order.disappear {
    animation: disappear 300ms ease forwards;
}

@keyframes appear {from{opacity: 0;} to{opacity: 1;}}
@keyframes disappear {
    from{
        opacity: 1;
        height: 110px;
        padding: 1rem;
        border-width: 2px;
    } to {
        opacity: 0;
        height: 0;
        padding: 0;
        border-width: 0;
    }
}

button:hover:not(.no-style) span,
button:focus-visible:not(.no-style) span,
button:active:not(.no-style) span,
a.button:hover:not(.no-style) span,
a.button:focus-visible:not(.no-style) span,
a.button:active:not(.no-style) span {
    color: var(--primary-background)!important;
}

#menu_select {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: column;
}

#dashboard {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 2rem;
    gap: 1rem;
}

#dashboard dialog>div {
    height: 95%;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

#dashboard dialog nav {
    display: flex;
    justify-content: space-between;
}

#dashboard dialog h1 {
    margin: 0;
}

#dashboard iframe {
    border: none;
    width: 100%;
    height: 99%;
}

#day-stat {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.stat-cell table {
    border-spacing: .5rem;
    border-collapse: separate;
}

.stat-cell table td {
    text-align: center;
}

.stat-cell {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

#pos-output-display {
    width: 100vh;
    height: 100vw;
    align-items: end;
}

#pos-output-display #cart,
#summary {
    display: flex;
    flex-direction: column-reverse;
}

#pos-output-display #cart .cart-item,
#summary .cart-item {
    border: none;
    padding: 0;
    height: 5vh;
    justify-items: start;
}

main#thank-you {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100vh;
    height: 100vw;
    place-items: center;
    background-color: var(--primary-background);
}

main#thank-you h1 {
    text-align: center;
}

main#thank-you.anim {
    animation: thank-anim 4s ease both;
}

@keyframes thank-anim {
    from, to {
        opacity: 0;
    }
    25%, 75% {
        opacity: 1;
    }

}

#tender > div,
#cash-in form {
    display: grid;
    gap: 1rem;
}

#pos dialog nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

#pos dialog nav h1,
#pos dialog nav h2 {
    margin: 0;
}

#terminal-setup {
    grid-template-rows: auto 1fr auto;
    padding: 1rem;
}
#terminal-setup > * {
    display: grid;
    place-items: center;
}
#terminal-setup > span {
    font-size: 40vh;
    font-weight: 700;
}
#terminal-setup > div {
    display: flex;
    justify-content: center;
}